# Time Series Analysis in Python: Master Applied Data Analysis
Weekly challenge: Week 6  
Date: 8/29/2022

## 9

In [2]:
import yfinance as yf

In [4]:
# Time series data for Tesla
df = yf.download(tickers = 'TSLA', start = '2019-01-01', end = '2019-12-31', progress = False)
df.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2019-01-02  20.406668  21.008667  19.920000  20.674667  20.674667  174879000
2019-01-03  20.466667  20.626667  19.825333  20.024000  20.024000  104478000
2019-01-04  20.400000  21.200001  20.181999  21.179333  21.179333  110911500
2019-01-07  21.448000  22.449333  21.183332  22.330667  22.330667  113268000
2019-01-08  22.797333  22.934000  21.801332  22.356667  22.356667  105127500

In [7]:
# Time series data for Facebook
df = yf.download(tickers = 'META', start = '2019-01-01', end = '2019-12-31', progress = False)
df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-01-02,128.990005,137.509995,128.559998,135.679993,135.679993,28146200
2019-01-03,134.690002,137.169998,131.119995,131.740005,131.740005,22717900
2019-01-04,134.009995,138.000000,133.750000,137.949997,137.949997,29002100
2019-01-07,137.559998,138.869995,135.910004,138.050003,138.050003,20089300
2019-01-08,139.889999,143.139999,139.539993,142.529999,142.529999,26263800

In [8]:
# Time series data for Amazon
df = yf.download(tickers = 'AMZN', start = '2019-01-01', end = '2019-12-31', progress = False)
df.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2019-01-02  73.260002  77.667999  73.046501  76.956497  76.956497  159662000
2019-01-03  76.000504  76.900002  74.855499  75.014000  75.014000  139512000
2019-01-04  76.500000  79.699997  75.915497  78.769501  78.769501  183652000
2019-01-07  80.115501  81.727997  79.459503  81.475502  81.475502  159864000
2019-01-08  83.234497  83.830498  80.830498  82.829002  82.829002  177628000

## 10

In [9]:
# Importing the necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

import warnings
warnings.filterwarnings('ignore')

In [14]:
# Reading the dataset
data = pd.read_csv(r'C:\Users\unpat\_Projects\Challenge_AprojectAweek\Week_06\Customers_in_a_Shop.csv', header = None)

In [16]:
data.head(3)

         0      1
0  1949-01  114.0
1  1949-02  120.0
2  1949-03  134.0

In [ ]:
# Assigning names to the columns
data.columns =